<plugin name='jasper' version='1.7.2' grailsVersion='2.1.0 &gt; *'>
  <author>Sebastian Hohns</author>
  <authorEmail>sebastian.hohns@googlemail.com</authorEmail>
  <title>jasper plugin</title>
  <description>
	This plugin adds easy support for launching jasper reports from GSP pages.
	After installing this plugin, run your application and request (app-url)/jasper/demo for a demonstration and instructions.
    </description>
  <documentation>http://www.grails.org/plugin/jasper</documentation>
  <type>JasperGrailsPlugin</type>
  <resources>
    <resource>org.codehaus.groovy.grails.plugins.jasper.JasperController</resource>
    <resource>org.codehaus.groovy.grails.plugins.jasper.JasperDemoController</resource>
    <resource>org.codehaus.groovy.grails.plugins.jasper.JasperService</resource>
    <resource>org.codehaus.groovy.grails.plugins.jasper.JasperTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://jasperreports.sourceforge.net/maven2/' url='http://jasperreports.sourceforge.net/maven2/' />
    <repository name='https://repository.jboss.org/nexus/' url='https://repository.jboss.org/nexus/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.apache.poi' name='poi' version='3.9' />
      <dependency group='net.sf.jasperreports' name='jasperreports' version='5.1.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>